{% extends 'base.html' %}

{% block title %}Product List Page{% endblock %}

{% block content %}
    <section class="gallery">
      <div class="container-fluid">
        <div class="row">

          <div class="controls">
            <button type="button"  class="control" data-filter="all">All</button>
            {% for c in categories %}
              <button type="button" class="control" data-filter=".{{c.name}}">{{c.name}}</button>
            {% endfor %}
          </div>
        </div>

        {% load static %}
        <div class="row">
          <div class="fw mix-container home-gallery">
              {% for movie in movies %}
                <div class="mix {{movie.category_name}}">
                  <a href="{{movie.get_absolute_url}}" class="thumb-a">
                  <div class="item-hover">
                    <div class="hover-text"><h3>{{movie.name}}</h3></div>
                  </div>
                  <div class="item-img">
                   <img src="{{movie.image.url}}" alt="" style="width:390.300px; height:559.237px;">
                  </div>
                  </a>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </section>

{% endblock %}